
        <div id="addBookDiv">

            <form method="post">
                <fieldset>
                    <legend>Entrer les informations sur le livre à ajouter</legend>

                    <label for="bookTitleTextField">Titre: </label>
                    <input type="text" name="bookTitleTextField" id="bookTitleTextField" data-ng-model="newBook.title" autofocus/>
                    
                    <label for="bookTitleTextField">Sous-titre: </label>
                    <input type="text" name="bookTitleTextField" id="bookSubTitleTextField" data-ng-model="newBook.subtitle" autofocus/>

                    <label for="bookAuthorTextField">Auteur: </label>
                    <input type="text" name="bookAuthorTextField" id="bookAuthorTextField" data-ng-model="newBook.author"/>

                    <label for="bookEditionTextField">Edition: </label>
                    <input type="text" name="bookEditionTextField" id="bookEditionTextField" data-ng-model="newBook.edition"/>

                    <label for="bookDateTextField">Date de parution: </label>
                    <input type="text" name="bookDateTextField" id="bookDateTextField" data-ng-model="newBook.date"/>

                    <label for="bookTypeTextField">Description: </label>
                    <input type="text" name="bookTypeTextField" id="bookTypeTextField" data-ng-model="newBook.description" />

                    <label for="booksNumberTextField">Nombre de pages: </label>
                    <input type="number" name="booksNumberTextField" id="booksNumberTextField" data-ng-model="newBook.numberOfPages"/>

                    <input type="submit" name="addBookButton" id="addBookButton" value="Ajouter le livre" data-ng-click="addBook()"/>

                    <p id="updateStatus" ng-model="updateStatus"></p>
                </fieldset>
            </form>

        </div>
