
    <div id="addBookDiv">

        <form method="post">
            <fieldset>
                <legend>Entrer les informations sur le livre à modifier</legend>

                <input type="text" name="booksInfos" id="booksInfos" placeholder="Rechercher..."  list="booksList" data-ng-model="enteredSearch"
                       ng-enter="validateSearch()" autofocus/>
                <datalist id="booksList">
                    <option data-ng-repeat="book in booksInfos track by $index" data-ng-value="book.onOneLine"> {{book.onOneLine}}</option>
                </datalist>

                <br/>

                <label for="bookTitleTextField">Titre: </label>
                <input type="text" name="bookTitleTextField" id="bookTitleTextField" data-ng-model="selectedBook.title" autofocus/>

                <label for="bookAuthorTextField">Auteur: </label>
                <input type="text" name="bookAuthorTextField" id="bookAuthorTextField" data-ng-model="selectedBook.author"/>

                <label for="bookEditionTextField">Edition: </label>
                <input type="text" name="bookEditionTextField" id="bookEditionTextField" data-ng-model="selectedBook.edition"/>

                <label for="bookDateTextField">Date de parution: </label>
                <input type="text" name="bookDateTextField" id="bookDateTextField" data-ng-model="selectedBook.date"/>

                <label for="bookTypeTextField">Genre: </label>
                <input type="text" name="bookTypeTextField" id="bookTypeTextField" data-ng-model="selectedBook.type"/>

                <label for="bookKindTextField">Domaine: </label>
                <input type="text" name="bookKindTextField" id="bookKindTextField" data-ng-model="selectedBook.kind"/>

                <label for="booksNumberTextField">Nombre d'exemplaires: </label>
                <input type="number" name="booksNumberTextField" id="booksNumberTextField" data-ng-model="selectedBook.number"/>

                <input type="submit" name="modifyBookButton" id="modifyBookButton" value="Modifier le livre" data-ng-click="modifyBook()"/>

                <p id="updateStatus">Status</p>
            </fieldset>
        </form>

        <div ng-include src="'views/consult-books.html'"></div>
    </div>
